@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    color: #FFFFFF;
    margin: 10px;
    background: #000;
}
a {
    color: unset;
    text-decoration: none;
}


header {
    height: 220px;
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#dsmeta-logo-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

#dsmeta-logo-conteiner img {
    width: 225px;
}

#dsmeta-logo-conteiner h1 {
    margin-top: 15px;
    font-size: 24px;
}

#dsmeta-logo-conteiner p {
    font-size: 14px;
    font-weight: 300;
    opacity: 0.8;
}

#dsmeta-logo-conteiner a:hover{
    text-decoration: underline;
}

/*Inicio do contéudo do site*/
#vendas {
    padding: 40px 10px;
}

.dsmeta-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}


.dsmeta-card {
    background-color: #283142;
    border-radius: 10px;
    padding: 30px 10px;
}

.dsmeta-card h2 {
    font-size: 24px;
    font-weight: 700;
    color: #676FFF;
    margin-bottom: 20px;
}

.dsmeta-form-control {
    height: 46px;
    background-color: #1b2531;
    border: 1px solid #384459;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    color: #9AAABE;
    padding: 0 20px;
    font-size: 18px;
}

.dsmeta-form-control-conteiner {
    margin-bottom: 16px;
}

.dsmeta-sales-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.dsmeta-sales-table thead {
    height: 55px;
    font-size: 16px;
    color: #E9E9E9;
    font-weight: 900;
}

.dsmeta-sales-table tbody {
    font-size: 14px;
    font-weight: 400;
    color: #CFCFCF;
    text-align: center;
}

.dsmeta-sales-table tbody tr {
    height: 74px;
    border-top: 1px solid #5F6E82;
    background-color: #283142;
}

.dsmeta-sales-table tbody tr:hover > td {
    background-color: #384459;
}

.dsmeta-sales-table tbody tr:nth-child(odd) {
    background: #242c3b;
}

.dsmeta-red-btn {
    height: 45px;
    width: 45px;
    background: rgba(255, 107, 114, 0.1);
    border: 1px solid #FF6B72;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dsmeta-red-btn-conteiner {
    display: flex;
    justify-content: center;
}

.dsmeta-red-btn img {
    width: 19px;

}

.show576{
    display: none;
}

@media (min-width: 576px) {
    .show576 {
        display: table-cell;
    }
    .dsmeta-card {
        padding: 35px;
    }
    .dsmeta-sales-table tbody tr {
        height: 55px;
    }

    .dsmeta-sales-table tbody {
        font-size: 18px;
    }


}

.show992 {
    display: none;
}

@media (min-width: 992px) {
    .show992 {
        display: table-cell;
    }
}